.magnify-container {
    position: relative;
}

.magnify-image-container {
    position: relative;
    display: inline-block;
}

.magnify-zoom {
    position: absolute;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 1px solid #aaa;
}

@media (max-width: 768px) {
    .magnify-container {
        height: auto;
    }

    .magnify-image-container {
        cursor: auto;
    }

    .magnify-image-container:hover .magnify-zoom {
        display: block;
    }

    .magnify-zoom {
        width: 150px;
        height: 150px;
    }
}
