.magnify-container {
    position: relative;
    width: 200px;
    height: 200px;
}

.magnify-image-container {
    position: relative;
    display: inline-block;
}

.magnify-image-container img {
    width: 100%;
    height: 100%;
}

.magnify-zoom {
    position: absolute;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .magnify-container {
        height: auto;
    }

    .magnify-image-container {
        cursor: auto;
    }

    .magnify-image-container:hover .magnify-zoom {
        display: block;
    }

    .magnify-zoom {
        width: 150px;
        height: 150px;
    }
}
